$font-family-sans-serif: 'Work Sans', sans-serif;
$body-color: #333;
$body-bg: #fbfbfb;
$font-weight-normal: 300;
$font-size-base: 1.1rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 940px,
  xl: 1300px
);
