article {
    max-width: 760px;
    margin: 0 auto;
    padding: 70px 20px;

    header {
        text-align: center;
        margin-bottom: 17px;

        time {
            font-size: 1.1rem;
        }
    }

    .content {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}